h1, h2, h3 {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
}

h3 > a {
  color: black;
}

.logo {
  width: 35em;
}

#asistencia{
  margin-top: 5em;
}

.row {
  padding-top: 0.5em;
}

.image-container {
  position: relative;
  width: 50%;
  height: 50%;
}

.full-width-height {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
}

p {
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

#logo_parking_container img {
  width: 2em;
}

img{
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 992px) {
  /* Cambia a fila en pantallas grandes */
  iframe {
    width:70%;
    height:600px;
  }
}