<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <div class="row" id="home">
    <div class="col-12">
      <!-- Flex container -->
      <div class="d-flex flex-column flex-lg-row mt-4">
        <!-- Primera columna -->
        <div class="col-lg-7 mb-4 mb-lg-0" style="">
          <!-- <img src="../assets/2.png" class="img-fluid full-width-height rounded" alt="Responsive image"> -->
          <img src="../assets/logo_calidad.png" class="img-fluid full-width-height rounded" alt="Responsive image" style="width: 100px;">
          <div id="texto_invitacion">
            <h2 id="nombres">Rosa & Roberto</h2>
            <p>Tenemos el placer de invitaros al enlace matrimonial que se celebrará, Dios mediante, el sábado 7 de diciembre de 2024 a las 13h en la iglesia San Francisco de Sales, Barcelona.</p>
            <p>A continuación, el banquete tendrá lugar en el Turó del Sol, Sant Vicenç de Montalt.</p>
            <p>Se ruega confirmación a través de nuestro <a routerLink="/asistencia">formulario.</a></p>
          </div>
        </div>
        <!-- Segunda columna -->
        <div class="col-lg-5" style="display: none;" id="imagen_boda">
          <img src="../assets/foto_boda_Maries.jpg" class="img-fluid full-width-height rounded" alt="Responsive image">
        </div>
      </div>
    </div>
  </div>
</div>
