nav {
  background-color: rgb(94, 155, 96);
  padding: 1em;
}

nav a,
.nav-item a {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.nav-item.active .nav-link {
  color: rgb(0, 0, 0);
}

.navbar-nav .dropdown-menu {
  background-color: rgb(46, 109, 48);
  border: none;
  text-align: center;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-size: 3.5rem;
}

.subtitle {
  font-size: 2rem;
}
