* {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
}

nav {
  background-color: white;
  padding: 1em;
  border-bottom: 1px solid lightgray;
}

nav a,
.nav-item a {
  color: black;
  font-size: 20px;
}

.nav-item.active .nav-link {
  color: black;
  font-weight: bold;
}

.navbar-nav .dropdown-menu {
  background-color: white;
  border: none;
  text-align: center;
}

.title {
  font-size: 3.5rem;
}

.subtitle {
  font-size: 2rem;
}

.logo {
  width: 15em;
}
