<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" (click)="closeMenu()">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ceremonia" (click)="closeMenu()">Ceremonia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/convite" (click)="closeMenu()">Convite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/regalo" (click)="closeMenu()">Regalo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/transporte" (click)="closeMenu()">Transporte</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content mt-4" role="main"></div>
<router-outlet></router-outlet>
