<div class="row" id="transporte">
  <div class="col-12">
    <!-- Contenedor Flex -->
    <div class="d-flex flex-column flex-lg-row mt-4">
      <!-- Mostrar en móvil -->
      <div class="d-block d-lg-none mb-4">
        <h1 class="ceremonia-title">Transporte</h1>
      </div>

      <!-- Primera columna: Imagen -->
      <div class="col-lg-7 mb-4 mb-lg-0">
        <img src="../assets/route_map.png" class="img-fluid full-width-height rounded" alt="Responsive image"
             id="route_map">
      </div>

      <!-- Segunda columna: Texto y título para escritorio -->
      <div class="col-lg-5 mt-4">
        <!-- Mostrar en escritorio -->
        <div class="d-none d-lg-block">
          <h1 class="ceremonia-title">Transporte</h1>
          <hr class="ceremonia-divider"/>
        </div>

        <!-- Texto descriptivo -->
        <p id="texto_transporte">En breves tendremos más noticias sobre los horarios de ida y vuelta del autocar.</p>
      </div>
    </div>
  </div>
</div>
