<div class="row" id="ceremonia">
  <div class="col-12">
    <!-- Contenedor Flex -->
    <div class="d-flex flex-column flex-lg-row mt-4">
      <!-- Mostrar en móvil -->
      <div class="d-block d-lg-none mb-4">
        <h1 class="ceremonia-title">Ceremonia</h1>
        <h2 class="ceremonia-subtitle">Parroquia de San Francisco de Sales</h2>
        <h3 class="ceremonia-location">
          <a href="https://maps.app.goo.gl/ABWbm1kBsXCqE6FQ6" target="_blank">Pg. de St. Joan, 90, L'Eixample, 08009
            Barcelona</a>
        </h3>
      </div>

      <!-- Primera columna: Imagen -->
      <div class="col-lg-7 mb-4 mb-lg-0">
        <img src="../assets/3.png" class="img-fluid full-width-height rounded" alt="Responsive image">
      </div>

      <!-- Segunda columna: Texto y otros elementos -->
      <div class="col-lg-5">
        <!-- Mostrar en escritorio -->
        <div class="d-none d-lg-block">
          <h1 class="ceremonia-title">Ceremonia</h1>
          <h2 class="ceremonia-subtitle">Parroquia de San Francisco de Sales</h2>
          <h3 class="ceremonia-location">
            <a href="https://maps.app.goo.gl/ABWbm1kBsXCqE6FQ6" target="_blank">Pg. de St. Joan, 90, L'Eixample, 08009
              Barcelona</a>
          </h3>
          <hr class="ceremonia-divider"/>
        </div>

        <!-- Texto descriptivo -->
        <p style="text-align: left;">
          Para nosotros, este es un día muy importante: el <b>comienzo de nuestra familia</b>.
          <br><br>
          Por eso, queremos celebrarlo con
          todos vosotros y hacer de la ceremonia un momento muy especial.
          <br>
          Para que podáis seguir la ceremonia, los cantos y las oraciones, hemos preparado un <b>misal</b> que será impreso y
          distribuido durante la misa.
          <br>
          También contaremos con un <b>sacerdote disponible</b> a partir de las 12:30 y hasta
          después de la ceremonia para atender a quienes lo deseen.
        </p>

        <!-- Mapa embebido -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.880421916902!2d2.169043076705742!3d41.39840317129855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2e90671b057%3A0xf9aa10d85b081bc0!2sParroquia%20de%20San%20Francisco%20de%20Sales!5e0!3m2!1ses!2ses!4v1723743179983!5m2!1ses!2ses"
          width="80%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade" class="rounded"></iframe>

        <!-- Información de parkings -->
        <div class="mb-1 p-4 p-lg-0 ceremonia-parking">
          <h4>Parkings cercanos:</h4>
          <p class="mb-0">Parking Roger de Flor - Sagrada Familia</p>
          <p><a href="https://maps.app.goo.gl/fY28KABtG9cUjt5dA" target="_blank">C/ de Roger de Flor, 200, L'Eixample,
            08013 Barcelona</a></p>
          <p class="mb-0">Parking Aragó 400</p>
          <p><a href="https://maps.app.goo.gl/QQkfon4ZguLEAftn7" target="_blank">C/ d'Aragó, 400, L'Eixample, 08013
            Barcelona</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
