/* Convite-specific styles */

#convite {
  margin-top: 5em;
  padding: 40px 20px;
  border-radius: 10px;
  background-image: url('/assets/fondo.png'); /* Reemplaza con la URL de tu imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen en el elemento */
  background-size: cover; /* Escala la imagen para cubrir todo el área del elemento */
}

.convite-directions {
  color: #3a3a3a;
  margin-bottom: 15px;
}

.convite-directions p a {
  font-size: 1rem;
  color: #6c757d;
  text-decoration: none;
}

.convite-directions p a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
}

h3 {
  font-size: 1rem;
}

#ceremonia_imagen {
  margin: 3em 0;
}

#convite {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Image container styles */
.full-width-height {
  object-fit: contain;
  max-height: 700px;
  max-width: 100%;
}

@media (min-width: 992px) {
  /* Para pantallas grandes */
  #convite {
    flex-direction: row;
  }
}
