<div class="row" id="convite">
  <div class="col-12">
    <!-- Contenedor Flex -->
    <div class="d-flex flex-column flex-lg-row mt-4">
      <!-- Primera columna: Título, subtítulo, texto y primera imagen -->
      <div class="col-lg-7 order-1 order-lg-1 mb-4 mb-lg-0">
        <h1 class="convite-title">Convite</h1>
        <h2 class="convite-subtitle">Turó del Sol</h2>
        <h3 class="convite-location">
          <a href="https://maps.app.goo.gl/FmgpiEJvsuPn7zFN7?g_st=com.google.maps.preview.copy" target="_blank">Ctra.
            Sant Vicenç, Km 0'700, 08394 Sant Vicenç de Montalt, Barcelona</a>
        </h3>
        <hr class="convite-divider"/>
        <img src="../assets/ceremonia.png" class="img-fluid full-width-height rounded" id="ceremonia_imagen"
             alt="Responsive image">
      </div>

      <!-- Segunda columna: Segunda imagen -->
      <div class="col-lg-5 order-2 order-lg-2">
        <img src="../assets/convite1_1.jpg" class="img-fluid full-width-height rounded" alt="Responsive image">
      </div>
    </div>
  </div>
</div>
